

#textw {
  top: 60%;
}
#faci1{
  margin-bottom: 5rem;
}
#textw h1 {
  font-size: 48px;
}

#row1 {
  width: 80%;
  margin-top: 0;
  text-align: left;
  color: #989898;
  font-size: 17px;
  justify-content: left;
  margin-bottom: 2%;
}

.para1 {
  margin-top: 1.5rem;
  letter-spacing: 0.7px;
}

.list1 #parahead {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  color: #ffffff;
}

.list1 ul {
  margin-left: 15px;
}

.list1 ul li {
  margin-bottom: 0.6rem;
  letter-spacing: 0.7px;
}
.btnn{
  width: 100%;
}
.btnn button{
  width: 10rem;
  padding: 1em;
  background-color: #39b14a;
  outline: none;
  border: none;
  margin: auto;
  text-align:center;
}
.btnn button a{
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.btnn button a:hover{
  text-decoration: underline;
}
@media(max-width: 700px) {
  #textw h1 {
    font-size: 32px;
  }

  .list1 {
    margin-left: 15px;
  }

  #row1 {
    font-size: 14px;
  }
  .btnn button{
    width: 8rem;
    padding: 0.7em;
  }
  .btnn button a{
    font-size: 14px;
  }
}

@media(max-width: 1280px) {
  .list1 {
    margin-left: 18px;
  }
}